<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript">  </script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script> 
 {{! <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>   }}
    	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">

 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/styles.css" rel="stylesheet" type="text/css">

	<title>LIBRARYMGMT - Admin Books</title>
</head>
<body>
{{! <div class="container-fluid"> }}
<nav class="navbar navbar-expand-lg navbar-dark special-color" id ="adminviewbooksnavbar">

  <a class="navbar-brand" href="#">LIBRARYMGMT</a>
    <button aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#basicExampleNav" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>

  <div class="collapse navbar-collapse"id="basicExampleNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/#">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin/viewbooks">All Books<span class="sr-only">(current)</span></a>
      </li>
      
    <span class="navbar-item">
        <a class="nav-link" href="/logout">Log Out</a>
    </span>
    </ul>
  </div>
</nav>
<br/><br/><br/>
<div class="container" id="booksDiv">
                
                    <h3>Update Book</h3><br/>

                            {{#bookdata}}
                            
                        <form class="form-group" action ="/admin/updatebook" method="post">
                            <div class="form-group">
        <select class="form-control" name="categoryName" id="exampleFormControlSelect1">
      
            <option value="0">Select Category Name</option>
                {{#categories}}
            <option value="{{id}}" selected={{id}}>{{categoryname}}</option>
                {{/categories}}
        </select>
    </div>
    <br/>
    <div class="form-group">
        <label for="title" class="sr-only">Book Title</label>
        <input type="text" class="form-control" name="title" value="{{title}}" id="bookTitle" placeholder="Title">
    </div>
    <br/>
    <div class="form-group ">
        <label for="author" class="sr-only">Author</label>
        <input type="text" class="form-control" id="author" name="author" value="{{author}}" placeholder="Author">
    </div>
    <br/>
    <div class="form-group">
        <label for="isbn" class="sr-only">ISBN</label>
        <input type="text" class="form-control" id="isbn" name="isbn" value="{{isbn}}" placeholder="ISBN">
    </div>
    <br/>
    <div class="form-group">
        <select class="form-control" name="availability" id="exampleFormControlSelect1">
            <option value="0">Availability</option>
            <option>True</option>
            <option>False</option> 
        </select>
    </div>
    <br/>
    <div class="form-group">
        <label for="imageurl" class="sr-only">Image Url</label>
        <input type="text" class="form-control"  name="imageurl" value="{{imageurl}}" placeholder="Image Url">           
    </div>
    <br/>
    <div class="form-group">
        <label for="description" class="sr-only">Description</label>
        <input type="text" class="form-control" name="description" value="{{description}}"  placeholder="Description">           
    </div>
    <br/>
  
    <input type="hidden" name="bookId" value="{{id}}" />
    <button type ="submit" class="btn btn-default btn-lg" id = "btnSubmit">Update Book</button>
                            
                             {{/bookdata}}                     
    </form>
</div>
     
</body>
</html>